.home-container{
    margin: 0 auto;;

}

.app-name{
    text-align: center;
    margin: 0;
    padding: 20px;
}

.app-description{
    text-align: center;
}

.students-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    

}




